.sidebar {
    background-color: #f8f9fa; /* Light grey background */
    padding: 20px;
}
.sidebar-heading {
    font-size: 0.875rem;
    text-transform: uppercase;
    letter-spacing: .05rem;
    color: #6c757d; /* Bootstrap's secondary text color */
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.cover-image {
    max-width: 300px;
    max-height: 400px;
    width: auto; /* Maintain aspect ratio */
    height: auto; /* Maintain aspect ratio */
}

.cover-image-tiny {
    max-width: 32px;
    max-height: 32px;
    width: auto; /* Maintain aspect ratio */
    height: auto; /* Maintain aspect ratio */
}