{% extends "base.html" %}
{% block title %}{{ book.title }}{% endblock %}
{% block content %}
<div class="card">
    <div class="row no-gutters">
    <div class="col-md-3">
        {% if book.cover_image %}
        <div class="thumbnail-bg-container">
            <div class="thumbnail-bg" style="background-image: url('{{ url_for('static', filename=book.cover_image) }}');"></div>
            <img class="thumbnail-foreground" src="{{ url_for('static', filename=book.cover_image) }}" alt="Book cover">
          </div>
        {% endif %}

    </div>
    <div class="col-md-9">
        <div class="card-body">
            <h5 class="card-title">{{ book.title }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">By {{ book.author_name }}</h6>
            {% if book.year_published %}
                <p class="card-text">Published: {{ book.year_published }}</p>
            {% endif %}
            {% if book.genre %}
                <p class="card-text">Genre: {{ book.genre }}</p>
            {% endif %}
            {% if book.subject %}
                <p class="card-text">Subject: {{ book.subject }}</p>
            {% endif %}
            {% if book.synopsis %}
                <p class="card-text">{{ book.synopsis }}</p>
            {% endif %}
            {% if book.isbn %}
                <p class="card-text">ISBN: {{ book.isbn }}</p>
            {% endif %}
            {% if book.rating %}
                <p class="card-text">Rating: {{ book.rating }}</p>
            {% endif %}
        </div>
    </div>
    
    <a href="{{ url_for('book.edit_book', book_id=book.id) }}" class="btn btn-primary">Edit Book</a>
    <button class="btn btn-secondary" onclick="regenerateThumbnail({{ book.id }})">Regenerate Thumbnail</button>
    <button class="btn btn-secondary" onclick="regenerateThumbnailGoogle({{ book.id }})">Regenerate Thumbnail (G)</button>
    <a href="{{ url_for('book.edit_book', book_id=book.id) }}" class="btn btn-primary">Similar Books</a>

    

    <script>
        function postAction(action, bookId) {
            fetch('/book/' + bookId + '/' + action, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ book_id: bookId })
            })
            .then(response => {
                if(response.ok) {
                    window.location.reload();
                }
                else {
                    console.error('Error:', response.status);
                    alert('Error initiating other action.');
                }
            })
            .catch(error => {
                console.error('Error:', error);
                alert('Error initiating other action.');
            });
        }
        function regenerateThumbnail(bookId) {
            postAction('regenerate_thumbnail', bookId);
        }

        function regenerateThumbnailGoogle(bookId) {
            postAction('regenerate_thumbnail_google', bookId);
        }
        </script>
{% endblock %}