{% extends "base.html" %}
{% block title %}Edit {{ book.title }}{% endblock %}
{% block content %}
    <h1>Edit Book</h1>
    <form method="POST" enctype="multipart/form-data">
        <div class="form-group">
            <label for="title">Title:</label>
            <input type="text" class="form-control" id="title" name="title" value="{{ book.title }}" required>
        </div>
        <div class="form-group">
            <label for="author">Author:</label>
            <input type="text" class="form-control" id="author_name" name="author_name" value="{{ book.author_name }}" required>
        </div>
        <div class="form-group">
            <label for="year_published">Year Published:</label>
            <input type="number" class="form-control" id="year_published" name="year_published" value="{{ book.year_published }}">
        </div>
        <div class="form-group">
            <label for="isbn">ISBN:</label>
            <input type="text" class="form-control" id="isbn" name="isbn" value="{{ book.isbn }}">
        </div>
         <div class="form-group">
            <label for="genres">Genres (comma-separated):</label>
            <input type="text" class="form-control" id="genres" name="genres" value="{% for genre in book.genres %}{{ genre.name }}{% if not loop.last %}, {% endif %}{% endfor %}">
        </div>
        <div class="form-group">
            <label for="book_type">Book Type:</label>
            <select class="form-control" id="book_type" name="book_type">
                <option value="ebook" {% if book.book_type == 'ebook' %}selected{% endif %}>Ebook</option>
                <option value="physical" {% if book.book_type == 'physical' %}selected{% endif %}>Physical</option>
                <option value="audiobook" {% if book.book_type == 'audiobook' %}selected{% endif %}>Audiobook</option>
            </select>
        </div>
        <div class="form-group">
            <label for="status">Status:</label>
            <select class="form-control" id="status" name="status">
                <option value="read" {% if book.status == 'read' %}selected{% endif %}>Read</option>
                <option value="currently_reading" {% if book.status == 'currently_reading' %}selected{% endif %}>Currently Reading</option>
                <option value="want_to_read" {% if book.status == 'want_to_read' %}selected{% endif %}>Want to Read</option>
                <option value="wishlist" {% if book.status == 'wishlist' %}selected{% endif %}>Wishlist</option>
            </select>
        </div>
        <div class="form-group">
            <label for="series">Series:</label>
            <input type="text" class="form-control" id="series" name="series" value="{{ book.series }}">
        </div>
        <div class="form-group">
            <label for="tags">Tags (comma-separated):</label>
            <input type="text" class="form-control" id="tags" name="tags" value="{{ book.tags }}">
        </div>
        <div class="form-group">
            <label for="cover_image">Cover Image:</label>
            <input type="file" class="form-control-file" id="cover_image" name="cover_image">
            {% if book.cover_image %}
                <img src="{{ url_for('static', filename=book.cover_image) }}" alt="Current Cover Image" width="100">
            {% endif %}
        </div>
        <button type="submit" class="btn btn-primary">Update Book</button>
        <button class="btn btn-secondary" onclick="regenerateThumbnail({{ book.id }})">Regenerate Thumbnail</button>

        <a href="{{ url_for('book.book_detail', book_id=book.id) }}" class="btn btn-secondary">Cancel</a>
    </form>
    <script>
    function regenerateThumbnail(bookId) {
        fetch('/book/' + bookId + '/regenerate_thumbnail', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ book_id: bookId })
        })
        .then(response => {
            if (!response.ok) {
                alert('Error initiating other action.');
            }
        });
    }
    </script>
{% endblock %}