<nav class="col-md-3 col-lg-2 d-md-block sidebar">
    <div class="sidebar-sticky">
        <h5 class="mb-3">Book library</h5>
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active" href="/">
                    📚 Books
                </a>
            </li>
            <h6 class="sidebar-heading">Library</h6>
            <li class="nav-item">
                <a class="nav-link" href="/authors">
                    👤 Authors
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/genres">
                    🎭 Genres
                </a>
            </li>

            <h6 class="sidebar-heading">Collections</h6>
            <li class="nav-item">
                <a class="nav-link" href="/ebooks">
                    📲 Ebooks
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/physical">
                    📙 Physical
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/audiobooks">
                    🔊 Audiobooks
                </a>
            </li>

            <h6 class="sidebar-heading">Status</h6>
            <li class="nav-item">
                <a class="nav-link" href="/read">
                    ✅ Read
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/to_read">
                    🔜 To Read
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/wishlist">
                    💡 Wishlist
                </a>
            </li>
            <h6 class="sidebar-heading">Tools</h6>
            <li class="nav-item">
                <a class="nav-link" href="/import">
                    📥 Import
                </a>
            </li>
        </ul>
        <hr>
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <a class="nav-link" href="/search">
                🔎 Search
            </a>
        </h6>
        <form class="px-3" action="/search" method="get">
            <div class="form-group">
                <input type="text" class="form-control form-control-sm"  name="search_query" id="search_query"
                placeholder="Search books..." value="the chronology of water">
            </div>
            <button type="submit" class="btn btn-primary btn-block btn-sm">Search</button>
        </form>
        
    </div>
</nav>