{% macro display_menu(menu_sections) %}
    <div class="sidebar-sticky">        
        {% for section in menu_sections %}
            <h6 class="sidebar-heading">{{ section.title }}</h6>
            <ul class="nav flex-column">
                {% for item in section['items'] %}
                <li class="nav-item">
                    <a class="nav-link  pt-0 pb-0" href="{{ item.url }}">
                        {{ item.icon }} {{ item.name }}
                    </a>
                </li>
                {% endfor %}
            </ul>
        {% endfor %}               
        <form class="px-3" action="/search/openlibrary" method="get">
            <div class="form-group">
                <input type="text" class="form-control form-control-sm"  name="search_query" id="search_query"
                placeholder="Search books..." value="the chronology of water">
            </div>
            <button type="submit" class="btn btn-primary btn-block btn-sm">Search OpenLibrary</button>
        </form>
        <form class="px-3" action="/search/books" method="get">
            <div class="form-group">
                <input type="text" class="form-control form-control-sm"  name="search_query" id="search_query"
                placeholder="Search books..." value="Architecture">
            </div>
            <button type="submit" class="btn btn-primary btn-block btn-sm">Search Books</button>
        </form>
    </div>
{% endmacro %}