{% extends "base.html" %}
{% block title %}Search{% endblock %}
{% block content %}
{% from "search_macros.html" import display_book_details %}
{% from "search_macros.html" import hidden_fields %}

    <h1>Search Books</h1>
    <p>You searched for: <strong>{{ query }}</strong></p>
    {% if results %}
        {{ results|length }} results found.
            {% for result in results %}
            <div class="card">
                <div class="row no-gutters">
                <div class="col-md-3">
                {% if result.cover_image %}
                    <img src="{{ result.cover_image }}" class="card-img-top cover-image thumbnail-small" alt="Cover Image" >
                {% endif %}
                </div>
                <div class="col-md-9">
                {{ display_book_details(result, result.author_name + ' ' + result.title) }}
                    <form method="POST" action="{{ url_for('books.add_book') }}">
                        {{ hidden_fields(result, [
                            'title', 'author_name', 'year_published', 'isbn', 'genre', 'language', 'synopsis', 'cover_image'
                        ]) }}
                        <button type="submit" class="btn btn-primary">Add to collection</button>
                    </form>
                </div>
                </div>
            </div>
            {% endfor %}}

        </div>

    {% else %}
        <p>No results found.</p>
    {% endif %}
{% endblock %}